@media only screen and (min-width: 32.5em){
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    div h3{
        background-color: rgba(7, 85, 17, 0.842);
        font-size: 23px;
    }

    header{
        background-color: rgba(216, 196, 15, 0.562);
    }

    header h1{
        font-size: 37px;
        line-height: 1.2em;
    }

    header h2{
        font-size: 27px;
    }

    footer{
        background-color: rgba(216, 196, 15, 0.562);
    }
    
    .footer-paragraph{
        font-size: 17px;
    }
    .update{
        font-size: 17px;
    }

    p, a{
        font-size: 20px;
    }
}