/*
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/
body{
    background-color: beige;
}

header{
    text-align: center;
    justify-content: center;
    background-color: rgb(158, 89, 223);
    padding: 1em;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px 10px;
    margin: 0.7em;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3em;
    max-width: 100%;
    font-family: 'Montserrat', sans-serif;
    padding: 1em;
}

.first-principle, .second-principle, .third-principle{
    background-color: burlywood;
    padding: 1em;
    border-radius: 10px 10px;
    border-radius: 10px 10px;
    margin: 0.5em;
}

img{
    max-width: 100%;
    margin-top: 0.2em;
}

h3{
    background-color: rgb(148, 74, 45);
    padding: 1em;
    margin: 0.5em;
    text-align: center;    
}

footer{
    background-color: rgb(158, 89, 223) ;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 0.2em;
    border-radius: 10px 10px;
    margin: 0.3em;
}

.footer-paragraph, .update{
    padding: 0.3em;
    margin: 0;
}