/*
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/

body{
    padding: 0;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 15.5px;
}

/* Header */

.container-header{
    background-color: #beff73ab;
    padding: 3px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

}

.brand-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-header img{
    width: 96px;
    margin: 3px;
}

.headings h1{
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 0;
    color: rgb(53, 53, 184);
}

.headings p{
    font-size: 0.8rem;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.icons{
    font-size: 25px;
    margin: 5px;
}

.date{
    justify-self: center;
    width: 100%;
    margin: 5px;
    height: 30px;
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
    background-color: #8cda72;
    color: black;
    text-align: center;
}

nav button{
    margin: 5px;
    background: transparent;
    border: none;
    font-size: 1.2rem;
    color: rgb(53, 53, 184);
}

nav{
    background-color: transparent;
    border: 1px solid rgb(53, 53, 184);
    margin: 5px;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a{
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.74);
    border-top: 1px solid rgba(53, 53, 184, 0.699);
    font-size: .8rem;
}

nav ul li.active a{
    background-color: #8cda72;
    color: rgb(53, 53, 184);
}

nav ul li a:hover{
    background-color: #06ac06b0;
}

nav ul{
    display: none ;
}

nav ul.open{
    display: block;
}

#hamburgerBtn span:nth-child(1){
    display: block;
}

#hamburgerBtn span:nth-child(2){
    display: none;
}

#hamburgerBtn.open span:nth-child(1){
    display: none;
}

#hamburgerBtn.open span:nth-child(2){
    display: block;
}

/* Main */

.container-main{
    display: flex;
    flex-direction: column;
}

.page1, .event, .weather, .news{
    background-color: #eee;
    margin: 5px;
    align-content: center;
    height: 200px;
}

.spotlight{
    display: flex;
    margin: 5px;
    height: 200px;
    background-color: #eee;
}

.spotlight1, .spotlight2{
    margin: 10px;
    height: 90%;
    width: 100%;
    border: 1px solid black;
    
}

.join, .spotlight3{
    display: none;
}

/* Footer */

footer{
    display: block;
    text-align: center;
    background-color: #beff73ab;
    margin: 0;
}

.logo-footer{
    margin: 0;
}


.title-footer h1{
    margin: 0;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color:rgb(53, 53, 184);
}

.title-footer p{
    margin-top: 0;
    font-size: 1.3rem;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
}

.baseboard{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.baseboard p{
    margin: 5px;
}

.separator{
    display: none;
}