@media only screen and (min-width: 64rem) {
    .logo-header img{
        width: 130px;
        margin: 15px;
    }

    .headings h1{
        font-size: 2.5rem;
        
    }

    .headings p{
        font-size: 1.1rem;
    }

    nav button{
        display: none;
        border-top: none;
    }

    nav ul#primaryNav{
        display: flex;
        justify-content: center;
        
    }

    nav{
        order: 0;
        align-content: center;
        border: none;
    }

    nav ul li a{
        border-top: none;
        font-size: 1.2rem;
    }

    .icons{
        order: 1;
        margin: 10px;
    }

    .date{
        order: 2;
        font-size: 1rem;
    }
   
    .container-main{margin: 30px;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-gap: 5px;
    }

    .hero-page{
        grid-column: 2;
        grid-row: 1/2;
        height: auto;
        position: relative;
    }

    .hero-page-1{
        top: 40px;
        left: 20px;
        font-size: 2rem;
    }

    .hero-page-2{
        bottom: 20px;
        right: 20px;
        font-size: 1.5rem;
    }

    .news{
        grid-column: 2;
        grid-row: 3;
    }

    .group{
        display: grid;
    }

    .event{
        grid-column: 1;
        grid-row: 1;
        width: auto;
        
    }

    .weather{
        grid-column: 1;
        grid-row: 2;
        width: auto;
    }

    .join{
        grid-column: 1;
        grid-row: 3;
        height: auto;
        margin: 5px;
        padding: 5px;
    }

    .spotlight{
        display: grid;
        height: auto;
        grid-column: 3;
        grid-row: 1/4;
    }

    .spotlight3{
        display: grid;
        margin: 10px;
        height: 90%;
        width: auto;
        border: 1px solid rgba(0, 0, 0, 0.5);
        box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    }

    .spotlight1, .spotlight2{
        width: auto;
    }



/* Footer */

    .container-footer{
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-gap: 5px
    }



    .logo-footer img{
        margin-left: 5rem;
        margin-top: 1rem;
        width: 150px;
        grid-column: 1;
    }

    .brand-footer{
        margin: 1.5rem;
        grid-column: 2;
    }

    .contact{
        margin-right: 100px;
        grid-column: 3;
    }


}