@media only screen and (min-width: 64rem){
    nav button{
        display: none;
        font-size: 2rem;
    }

    nav ul#primaryNav{
        display: flex;
        justify-content: center;
        margin-left: 2vw;
    }

    nav ul li a{
        border: none;
        font-size: 25px;
    }
    
    nav ul li a{
        padding: .5rem 1rem;
    }

    .logo-header img{
        width: 50%;
        padding: 1em;
    }


    .content-header{
        justify-content: space-around;
        align-items: center;
        text-align: center;
        max-height: 230px;

    }


    .social{
        margin-right: 20px;
        width: 30%;
    }

    .content-main{
        margin: 1rem;
        display: grid;
        grid-template-columns: 20% 50% 1fr;
        grid-auto-rows: minmax(100px, auto);
        gap: 5px;        
    }


    .event{
        grid-column: 1;
        grid-row: 1;
    }
    
    .logo-header h1{
        font-size: 3rem;
    }

    .weather{
        grid-column: 1;
        grid-row: 2;
    }

    .weather p{
        text-align: center;
    }
    
    .join{
        grid-column: 1;
        grid-row: 3;
    }
    
    .hero{
        grid-column: 2;
        grid-row: 1/3;
        padding: 1em;
        height: auto;
        font-family: 'Merriweather Sans', sans-serif;
        position: relative;
    }

    .hero h2{
        font-size: 3em;
        position: absolute;
	    top: 160px;
    }

    .hero a{
        position: absolute;
	    bottom: 160px;


    }


    
    .news{
        grid-column: 2;
        grid-row: 3/4;
        padding: 1em;
        font-family: 'Merriweather Sans', sans-serif;
        background-color:  #D3E3BF;
        
    }

    .spotlight{
        grid-column: 3/5;
        grid-row: 1/4;
        display: grid;
        padding: 1em;
        font-family: 'Merriweather Sans', sans-serif;
        background-color: #D3E3BF;
        
        
    }

    .spotlight{
        display: grid;
        grid-template-columns: 1fr
    }

    .spot_1, .spot_2, .spot_3{
        padding: 2em;
        margin: 10px;
    }

    .logo-footer img{
        width: 45%;
    }
    
    .headings-footer{
        font-size: 2rem;
        text-align: center;
        align-items: center;
    }

    .content-footer{
        max-height: 200px;
    }

    .logo-footer{
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }


    .contact{
        margin-right: 20px;
        width: 30%;
    }
    
    .last{
        align-items: center;
    }

}