@media only screen and (min-width: 64rem) {
    nav button{
        display: none;
        border-top: none;
    }

    nav ul#primaryNav{
        display: flex;
        justify-content: center;
        
    }

    nav{
        order: 0;
        align-content: center;
        border: none;
    }

    nav ul li a{
        border-top: none;
    }

    .icons{
        order: 1;
    }

    .date{
        order: 2;
    }
   
    .container-main{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    .page1{
        grid-column: 2;
        grid-row: 1/2;
        height: auto;
    }

    .news{
        grid-column: 2;
        grid-row: 3;
    }

    .teste{
        display: grid;
    }

    .event{
        grid-column: 1;
        grid-row: 1;
        width: auto;
        
    }

    .weather{
        grid-column: 1;
        grid-row: 2;
        width: auto;
    }

    .join{
        grid-column: 1;
        grid-row: 3;
    }

    .spotlight{
        display: grid;
        height: auto;
        grid-column: 3;
        grid-row: 1/4;
    }

    .spotlight3{
        display: grid;
        margin: 10px;
        height: 90%;
        width: auto;
        border: 1px solid black;
        ;
    }

    .spotlight1, .spotlight2{
        width: auto;
    }



/* Footer */
    .container-footer{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .logo-footer{
        margin-left: 100px;
    }

    .brand-footer{
        margin-right: -100px ;
    }

    .contact{
        grid-column: 4;
    }

}