@media only screen and (min-width: 35rem){
    
    nav ul li a{
        font-size: 1.1rem;
    }

    .logo-header img{
        width: 200px;
        margin: 5px;
    }

    .headings h1{
        font-size: 2rem;
        
    }

    .headings p{
        font-size: 1rem;
    }

    .icons{
        font-size: 30px;
        margin: 5px;
    }

    nav button{
        font-size: 2rem;
    }

    p{
        font-size: 17px;
    }

    h2{
        font-size: 1.5rem;
    }
    
    .phone{
        font-size: 14px;
    }

    .hero-page{
        order: -3;
    }

    .hero-page-1{
        font-size: 1.8rem;
    }

    .hero-page-2{
        font-size: 1.4rem;
        width: 250px;
    }

    .weather{
        width: 100%;
        margin: 10px;
    }

    .news{
        order: -2;
    }

    .news p{
        display: inline-block;
    }

    .spotlight{
        order: -1;
    }

    .join{
        display: flex;
        order: 1;
        background-color: #eee;
        margin: 5px;
        align-content: center;
        height: 200px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        text-align: center;
        position: relative;
        
    }

    .join p{
        position: absolute;
        text-align: center;
        bottom: 40px; 
        right: 20px;
        left: 20px;
    }
    
    .join a{
        text-decoration: none;
        position: absolute;
        width: 90%;
        height: auto;
        padding: 1rem;
        background-color: #8cda72;
        font-weight: bold;
        border-radius: 10px;
        color: rgb(53, 53, 184);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
        top: 20px;
        left: 15px; 
        right: 10px;
        z-index: 1;
        font-size: 1.5rem;
    }
    
    .group{
        display: flex;
        flex-direction: row;
        order: 2;
        
    }

    .event{
        width: 60%;
    }

    .event p{
        margin-top: 40px;
    }

    .weather{
        width: 40%;

    } 

    .container-footer{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 1.5rem;
        
        
    }

    .logo-footer img{
        width: 150px;
        margin-top: 2rem;
        
    }

    .brand-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: start;
        padding: 5px;
    }

    .contact{
        margin-left: 80px;
        padding: 5px;
    }

    .baseboard{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        
    }

    .separator{
        display:  flex;
        flex-direction: row;
        align-self: center;

    }

    #lastModified{
        align-self: center;
    }

    /* Discover Page*/
    .city_img, .build_img, .tamar_img, .polo-img, .beach_img{
        width: 55%;
    }

    .city_img:hover, .tamar_img:hover{
        box-shadow: 0 0 50px #06ac06b0;
    }
    
    .polo-img:hover{
        border-radius: 15px 150px;
    }
    
    .build_img:hover{
        filter: blur(4px)
    }
    
    .beach_img:hover{
        filter: saturate(50%)
    }

}