
#content-home, #content-color, #content-audience, #content-typography{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    line-height: 1.2em;
    font-size: 16.5px;
}

header{
    display: grid;
    grid-template-columns: 120px 1fr;
    background-color: #BAB133;
    padding: 1em;
    margin: 20px;
    align-items: center;
    border-radius: 10px 10px;
}

header img{
    max-width: 90%;
    margin-left: 2em;
}

header h1{
    font-family: 'Roboto', sans-serif;
    margin-left: 0.9em;
    font-size: 50px;
    color: rgb(9, 63, 9);
}

nav ul {
    display: block;
    list-style: none;
    padding: 1em;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;  
    margin: 20px;
    background-color:#BAB133;
    border-radius: 10px 10px;
}

nav ul a{
    text-decoration: none;   
}

nav a:hover{
    background-color: #084870;
    color: #ffffff;
}

#content-home, #content-color, #content-typography{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3em;
    max-width: 100%;
    margin: 15px;
}

#content-audience{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3em;
    max-width: 100%;
    margin: 15px;
}

div{
    display: block;
    border-radius: 10px 10px;
}

.purpose-site, .logo, .target-audience, .personas, .scenarios, #content-color, #content-typography{
    overflow: hidden;
    background-color: #b95cb385;
    padding: 1em;
}

.purpose-site, .logo, #content-color, .target-audience{
    text-align: center;
}


.purpose-site, .logo img{
    max-width: 90%;
}

.purpose-site p{
    text-align: left;
    font-size: 17px;
}

.personas h2, .scenarios h2{
    text-align: center;
}

.personas img{
    display: block;
    margin-left: auto;
    margin-right: auto 

}

.text-table-color {
    border: 1px solid #084870;
    width: 50%;
    margin: auto;
    margin-top: -50px;
}

.text-table-typography{
    border: 1px solid #084870;
    width: 50%;
    margin: auto;
    margin-top: -40px ;
}

.text-table-typography td, .text-table-color td{
    border: 1px solid tomato
}

h2{
    color:#084870;
}

.color1{
    background-color: #BAB133;
}

.color2{
    background-color: #084870;
}

.color3{
    background-color:  rgb(9, 63, 9);
}

.color4{
    background-color: #b95cb385;
}

.color5{
    background-color: black;
    color: white;
}

.color6{
    background-color: white;
    color: black;
}

footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #BAB133;
    color:rgb(9, 63, 9);
    border-radius: 10px 10px;
    padding: 1em;
    margin:20px;
}

.footer-paragraph {
    grid-column: 1/4;
    text-align: center;
    margin: auto;
}

.update {
    grid-column: 1/4;
    text-align: center;
    margin: auto;
}

#content-typography{
    text-align: center;
}


