/*
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif; 
*/

body{
    margin: auto;
    max-width: 960px;
    text-align: center;
    background-color: #eee;
}
main{
    margin: 2rem;
}

section{
    padding: .5rem;
    border: 2px solid rgba(0, 0, 0, 0.829);
    border-radius: 10px 10px;
    background-color: rgba(197, 176, 176, 0.774);
    box-shadow: 2px 2px 10px;
}

h1{
    font-family: 'Open Sans', sans-serif; 
    text-shadow: 2px 2px 10px black;
    font-size: 26px;
}

h2{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

p, figcaption{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

@media only screen and(min-width:35rem){
    h1{
        font-size: 30px;
    }

    h2{
        font-size: 27px;
    }

    p, figcaption{
        font-size: 24px;
    }
}
