body{
    max-width: 960px;
    margin: auto;
    padding: 1.5em;
    background-color: rgb(208, 211, 212);
    font-size: 0.6em;
    line-height: 1.5;
    font-family: 'Roboto Mono', monospace;
    
}

header{
    display: grid;
    grid-template-columns: 100px 1fr;
    padding: 1em;
    align-items: center;
    background-color: rgba(21, 110, 21, 0.61);
    border-radius: 1em;
}

header img{
    max-width: 80%;
    border-radius: 10px 10px;
    padding: 0.5em;
    margin: 5px;
}

h1{
    color: rgb(5, 28, 105);
    padding: 0.5em;
    text-shadow: 10px 10px 10px black;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.9em;
}

h2{
    color: rgba(0, 0, 0, 0.842);
    padding: 1em;
    text-shadow: 10px 10px 10px black;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7em;
}

nav{
    color: black;
    padding: 0.5em;
    margin: 1em;
}

footer{
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    background-color: rgba(21, 110, 21, 0.61);
    border-radius: 10px;
    padding: 1em;
    font-family: 'Open Sans', sans-serif;
}

.footer-paragraph{
    grid-column: 1/4;
    text-align: center;
    color: rgba(0, 0, 0, 0.842);
    margin: auto;
}

.update{
    grid-column: 1/4;
    text-align: center;
    margin: auto;
    color: rgb(204, 201, 6);
}