@media only screen and (min-width: 64rem) {
    #container-header picture {
        width: 100%;
    }

    nav ul li a:hover {
        transform: scale(1.2);
    }

    nav ul li a {
        font-size: 1.4rem;
    }

    .icons {
        font-size: 35px;
    }

    /* Footer */
    #container-footer {
        display: flex;
        flex-wrap: wrap;
    }


    .icons-footer {
        font-size: 30px;
    }

    .baseboard {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    /* Home Page */
    
    .box{
        width: 400px;
    }

    /* About Us Page */
    .history-text p{
        padding: .5rem;
    }

    .history-text picture img{
        width: auto;
        float: right;
    }

    .visit form fieldset{
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }

    .visit form label{
        margin-left:5%;
        margin-right:5%;
    }

    .visit form input.submitBtn{
        width: 75%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .form_fresh{
        height: 130vh;
    }







}